<div class="container my-5 py-5 bg-light rounded shadow-lg">
    <div class="row g-4 align-items-center">
        <div class="col-md-4 text-center">
            <img src="~/img/faleconosco1.jpg" alt="Fale conosco" class="img-fluid rounded-circle border border-3 border-primary">
        </div>
        <div class="col-md-8">
            <h3 class="mb-4 text-primary fw-bold">Queremos ouvir o que você tem a dizer.</h3>
            <p class="text-secondary fs-5">Se você tiver alguma dúvida ou sugestão de atendimento, fale conosco.</p>
            <div class="mt-4">
                <div class="d-flex align-items-center mb-3">
                    <img src="~/img/Envelope-icon24.png" alt="Email" class="me-3" style="width: 30px;">
                    <h5 class="mb-0"><a href="mailto:moveisbrasasuporte@yahoo.com" class="text-decoration-none text-dark fw-bold">Enviar um e-mail</a></h5>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <img src="~/img/phone-app-icon.png" alt="Telefone" class="me-3" style="width: 30px;">
                    <h5 class="mb-0 text-secondary fw-bold">(11) 9874-5566</h5>
                </div>
                <div class="d-flex align-items-center">
                    <img src="~/img/Home-iconred.png" alt="Endereço" class="me-3" style="width: 30px;">
                    <h5 class="mb-0 text-secondary fw-bold">Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</h5>
                </div>
            </div>
        </div>
    </div>
</div>
