<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Móveis Brasa</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        footer {
            margin-top: auto;
        }
        .navbar {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    </style>
</head>
<body>
    <footer>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="row w-100">
                    <div class="col-12 col-md-6" style="color: white">
                        <h4>&copy; 2024 - Móveis Brasa</h4>
                        <p class="text-justify">
                            Aqui você encontra os móveis perfeitos para a sua casa. Sofás, mesas, cadeiras e muito mais com design moderno e conforto garantido.
                            Nossa loja oferece opções para todos os estilos, além de um atendimento especializado para ajudar você a escolher o que melhor combina com o seu ambiente.
                        </p>
                    </div>
                    <div class="col-12 col-md-6" style="color: white">
                        <h4>Tem alguma dúvida?</h4>
                        <ul class="list-unstyled">
                            <li class="py-1">Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</li>
                            <li class="py-1">+55 11 9874-5566</li>
                            <li class="py-1"><a href="mailto:Moveisbrasa@hotmail.com" style="color: yellow">Moveisbrasa@hotmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </footer>

</body>
</html>
