@model MovelListViewModel

    <div>
        <h2>@Model.CategoriaAtual</h2>
    </div>

    <div class="container">
        <div class="row">
        @foreach (var movel in Model.Moveis)
        {
            <partial name="_MoveisResumo" for="@movel"/>
        }
        </div>
    </div>
    